//
//  secret.xcconfig
//  NoteTaking
//
//  Created by Tharun Senthilkumar on 10/31/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPENROUTER_API_KEY=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
